* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    column-gap: 20px;
}

/* Styling for the header */

header {
    grid-column: span 12;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.header-img-grid-item {
    grid-column: span 1;
}

.header-h1-grid-item {
    grid-column: span 4;
    display: flex;
    align-items: center;
}

.header-nav-grid-item {
    grid-column: span 6;
    display: flex;
    align-items: center;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.header-hero-grid-item {
    grid-column: span 12;
}

ul {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
}














main {
    grid-column: span 12;
}

footer {
    grid-column: span 12;
}