* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    column-gap: 20px;
}

.hidden {
    display: none;
}

/* Styling for the header */

header {
    grid-column: span 12;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.header-img-grid-item {
    grid-column: span 1;
}

.header-h1-grid-item {
    grid-column: span 4;
    display: flex;
    align-items: center;
    color: #4B3A2F;
}

.header-nav-grid-item {
    grid-column: span 6;
    display: flex;
    align-items: center;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.main-nav>ul>li>a:hover {
    background-color: #4B3A2F;
    color: #F8F1E7;
    padding: 10px;
    border-radius: 5px;
}

.header-hero-grid-item {
    grid-column: span 12;
}

ul {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: #4B3A2F;
}

.header-p-grid-item {
    position: relative;
    bottom: 250px;
    grid-column: span 8;
    background-color: #A3B18A;
}

.header-p-grid-item > p {
    width: 675px;
    padding: 20px 0px;
    margin: 0 auto;
    color: white;
    letter-spacing: 3px;
}


/* Styling for the main */

main {
    grid-column: span 12;
}

.main-grid { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}


.main-grid-section-2 {
    grid-column: span 12;
}

.product-content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}


.product-content-grid-buttons {
    grid-column: span 3;
}

.product-content-grid-buttons > button {
    display: block;
    margin: 15px 0px;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: #D9834F;
}

.product-content-grid-buttons >button.active {
    border-left: 4px solid #4B3A2F;
    color: #4B3A2F;
}

.product-content-grid-section-2 {
    grid-column: span 3;
    padding: 25px 0;
}

.section-heading {
    padding-left: 15px;
    padding-bottom: 5px;
    color: #4B3A2F;
}

.product-drop-down-content {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    border-radius: 15px;
    padding: 15px;
    background-color: #F8F1E7;
    color: #4B3A2F;
}

.product-drop-down-content-1 {
    grid-column: span 7;
}

.product-drop-down-content-2 {
    grid-column: span 7;
}

.product-drop-down-content-3 {
    grid-column: span 7;
}

.product-drop-down-content-4 {
    grid-column: span 3;
    grid-row: span 3;
    margin: 0 auto;
}

.product-drop-down-content-5 {
    grid-column: span 3;
    grid-row: span 3;
    margin: 0 auto;
}

.product-drop-down-content-6 {
    grid-column: span 4;
    grid-row: span 1;
}

.product-drop-down-content-7 {
    grid-column: span 6;
}

.product-drop-down-content-8 {
    grid-column: span 6;
    justify-self: end;
    width: fit-content;
    height: fit-content;
    padding: 18px 41px;
    text-decoration: none;
    background-color: #D9834F;
    border-radius: 15px;
    color: #F8F1E7;
}

.product-drop-down-content-8:hover {
    color: #D9834F;
    background-color: #4B3A2F;
    cursor: pointer;
}







.main-grid-section-3 {
    margin-top: 65px;
    grid-column: span 12;
    /* background-color: #A3B18A; */
    padding: 10px 0px;
    position: relative;
}

.banner {
    width: 1100px;
    float: right;
    height: 380px;
    background-color: #4B3A2F;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.main-grid-section-3>p {
    width: 1025px;
    height: 240px;
    background-color: #D9834F;
    display: flex;
    align-items: center;       
    justify-content: center;
    position: absolute;
    bottom: 80px;
    margin: 0px; 
    font-size: 65px;
    color: white;
}


.main-grid-section-4 {
    margin-top: 15px;
    grid-column: 2/span 10;
    column-count: 2;
    column-gap: 15px;
}

.main-grid-section-4>p {
    font-size: 32px;
}

img.employees {
    width: 488px;
    border-radius: 15px;
}





/* This is the styling for the footer */

footer {
    grid-column: span 12;
    padding-top: 25px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    margin-top: 75px;
    background-color: #D6A77A;
    color: #F8F1E7;
}

.footer-grid-item-1 {
    grid-column: 2 / span 10;
    margin-bottom: 5px;
}

.footer-grid-item-2 {
    grid-column: 5 / span 3;
    line-height: 34px;
}

.footer-grid-item-3 {
    grid-column: 8 / span 2;
}

.footer-grid-item-3>ul>li>a {
    color: #F8F1E7;
}

.footer-grid-item-3>ul {
    line-height: 34px;
}

.footer-grid-item-3>ul>li>a:hover {
    color: #4B3A2F;
    cursor: pointer;
}

.footer-grid-item-4 {
    grid-column: 10 / span 2;
}

.footer-grid-item-5 {
    grid-column: 2 / span 3;
    line-height: 34px;
}

.footer-grid-item-6 {
    grid-column: 2 / span 10;
    margin: 10px 0px;
}

.footer-grid-item-7 {
    grid-column: 2 / span 10;
    padding: 10px 0px;
    text-align: center;
}


